@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary: #ffb534;
$font: "Montserrat", sans-serif;
$like-gold: #f2f2f2;
$dark: #092635;
$white: #fff;
$blue: #83a2ff;
$army: #495e57;
$sky: #fbfbff;
body {
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

header {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    position: fixed !important;
    z-index: 2023;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.77);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    & .navbar-brand {
        font-family: $font;
        color: $primary;
        font-weight: 700;
        font-size: 1.25rem;
    }
    & .nav-link {
        font-size: 1rem;
        font-family: $font;
        color: $dark;
        font-weight: 500;
        opacity: 0.7;
        &:hover,
        &.active {
            transition: all 0.5s ease;
            opacity: 1;
            color: $primary !important;
        }
    }
}

.hero {
    height: 100vh;
    display: flex;
    width: 100%;
    position: relative;
    & .wave {
        height: 80px;
        width: 100%;
        background: #f3f3f3;
        position: absolute;
        top: 0;
        z-index: -1;
        &_one {
            transform: rotate(180deg);
            width: 100%;
            position: absolute;
            top: 80px;
            opacity: 0.3;
        }
        &_two {
            transform: rotate(180deg);
            width: 100%;
            position: absolute;
            top: 80px;
            opacity: 0.3;
        }
    }
    & .container {
        z-index: 1;
        display: flex;
        align-items: center;
    }
    &_caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        @media (min-width: 992px) {
            margin-top: unset;
        }
        & h1 {
            font-family: $font;
            color: $army;
            font-weight: 600;
            margin-bottom: 0.5rem;
            text-align: center;
            @media (min-width: 992px) {
                text-align: left;
            }
        }
        & p {
            color: $dark;
            font-size: 1rem;
            font-family: $font;
            font-weight: 400;
            margin-bottom: 0;
            text-align: justify;
            @media (min-width: 992px) {
                text-align: left;
            }
        }
        &_social {
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            @media (min-width: 992px) {
                justify-content: flex-start;
            }
            & a {
                width: 42px;
                height: 42px;
                border: 1px solid $primary;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                text-decoration: none;
                color: $primary;
                margin-right: 12px;
                box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
                &:hover,
                &:focus {
                    transition: all 0.5s ease;
                    color: $dark;
                    background: $primary;
                    box-shadow: 0 0.5rem 1rem rgba(255, 162, 1, 0.323);
                    & i {
                        -webkit-animation: jello 0.9s both;
                        animation: jello 0.9s both;
                    }
                }
            }
        }
        &_link {
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
            & .btn_primary {
                &:hover,
                &:focus {
                    -webkit-animation: jello 0.9s both;
                    animation: jello 0.9s both;
                }
            }
            & .btn_outline_primary {
                margin-left: 18px;
                &:hover,
                &:focus {
                    -webkit-animation: jello 0.9s both;
                    animation: jello 0.9s both;
                }
            }
        }
    }
    &_image {
        &_outline {
            border-radius: 50% 50% 50% 0;
            overflow: hidden;
            border: 8px solid $primary;
            &:hover {
                transition: all 5s ease;
                border: 8px solid $blue;
            }
            & img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
    }
}

@-webkit-keyframes jello {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes jello {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.features {
    background: $sky;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media (min-width: 992px) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    &_right {
        position: relative;
        margin-bottom: 1.5rem;
        @media (min-width: 992px) {
            margin-bottom: 0;
        }

        & img {
            aspect-ratio: 546/ 655;
            width: 100%;
            object-fit: cover;
        }
        & h5 {
            color: $army;
            font-size: 1rem;
            margin-bottom: 0;
        }
        & p {
            font-size: 1rem;
            color: $dark;
            opacity: 0.8;
            margin-bottom: 0;
        }
        & .content {
            &_top_right {
                position: absolute;
                top: 12px;
                right: 22px;
                background: $white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 12px 18px;
                box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.3);
                opacity: 0.8;
                &:hover {
                    opacity: 1;
                }
                & i {
                    font-size: 2rem;
                    color: #ff5b22;
                    margin-bottom: 0.5rem;
                }
            }
            &_left {
                display: none;
                @media (min-width: 992px) {
                    display: flex;
                }
                position: absolute;
                top: 70%;
                left: 22px;
                background: $white;
                padding: 8px 18px;
                flex-direction: row;
                box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.3);
                opacity: 0.8;
                &:hover {
                    opacity: 1;
                }
                & .text {
                    display: flex;
                    flex-direction: column;
                    margin-left: 12px;
                }
                & i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                    color: #80b3ff;
                }
            }
            &_bottom_right {
                position: absolute;
                bottom: 20px;
                right: 18px;
                padding: 12px 18px;
                background: $white;
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0.8;
                @media (min-width: 992px) {
                    display: flex;
                }

                &:hover {
                    opacity: 1;
                }
                & i {
                    font-size: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #739072;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
    &_left {
        & h2 {
            color: $army;
            font-weight: 500;
            font-family: $font;
            margin-bottom: 1rem;
        }
        & p {
            color: $army;
            font-weight: 400;
            font-family: $font;
            font-size: 1rem;
            text-align: justify;
            @media (min-width: 992px) {
                text-align: left;
            }
        }
        & ul {
            list-style-type: none;
            padding-left: 0;
            & li {
                color: $army;
                font-weight: 400;
                font-size: 1rem;
                font-family: $font;
                display: flex;
                margin-bottom: 0.5rem;
                &::before {
                    content: "\f192";
                    font-size: 1rem;
                    color: $primary;
                    font-family: "Font Awesome 6 Free";
                    margin-right: 8px;
                }
            }
        }
        & a {
            color: $primary;
            font-size: 1rem;
            text-decoration: none;
            font-family: $primary;
            &::after {
                margin-left: 12px;
                content: "\f0da";
                font-weight: 900;
                font-family: "Font Awesome 6 Free";
                color: $primary;
            }
        }
    }
}

.offer {
    position: relative;
    background: #f9f9e0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    z-index: 1;
    & .wave {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
        &_one {
            position: absolute;
            top: 0;
            opacity: 0.5;
        }
        &_two {
            position: absolute;
            top: 0;
            opacity: 0.5;
        }
    }
    &_caption {
        z-index: 2;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        & h2 {
            color: $army;
            font-weight: 500;
            font-size: 2rem;
            font-family: $font;
            margin-bottom: 0;
        }
        & p {
            color: $army;
            max-width: 900px;
            font-weight: 400;
            font-size: 1rem;
            font-family: $font;
            margin-bottom: 0;
            line-height: 20px;
        }
    }
    &_card {
        height: 100%;
        & .card {
            background: rgba(255, 255, 255, 0.56);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10.8px);
            -webkit-backdrop-filter: blur(10.8px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            padding: 22px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            &:hover {
                transition: all 0.5s ease;
                background: $white;
                & i {
                    -webkit-animation: heartbeat 2s ease-in-out infinite both;
                    animation: heartbeat 2s ease-in-out infinite both;
                }
            }
            & i {
                color: $white;
                background: $primary;
                width: 52px;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;
                font-size: 28px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 100%;
            }
            & h5 {
                color: $army;
                font-weight: 600;
                font-family: $font;
                font-size: 1.125rem;
                margin-bottom: 0.5rem;
            }
            & p {
                font-size: 1rem;
                color: $army;
                font-weight: 400;
                font-family: $font;
                margin-bottom: 0;
                line-height: 18px;
            }
        }
    }
}
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.testimonials {
    padding-top: 6rem;
    padding-bottom: 6rem;
    &_left {
        &_image {
            position: relative;
            width: 100%;
            aspect-ratio: 3/4;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 2rem;
            & .bottom_left {
                object-fit: cover;
                aspect-ratio: 3/4;
                position: absolute;
                bottom: -2rem;
                right: 12px;
                width: 40%;
            }
        }
    }
    &_right {
        & .swiper {
            width: 100%;
            height: 100%;
            &-slide {
                text-align: center;
                font-size: 18px;
                background: transparent;
                align-items: flex-start;
                justify-content: flex-start;
                display: flex;
                flex-direction: column;
                & img {
                    width: 84px;
                    height: 84px;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    margin-bottom: 1.5rem;
                    border-radius: 100%;
                }
                & .desc {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    & span {
                        color: $primary;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        font-weight: 800;
                        font-size: 2.25rem;
                        line-height: 8px;
                    }
                    & p {
                        margin-top: 0;
                        color: $army;
                        font-size: 1rem;
                        font-family: $font;
                    }
                }
                & h5 {
                    color: $army;
                    font-weight: 600;
                    font-size: 1.25rem;
                }
                & h6 {
                    color: $army;
                    font-weight: 600;
                    font-weight: 1rem;
                    & span {
                        font-weight: 500;
                        opacity: 0.7;
                    }
                }
            }
        }
        & .autoplay-progress {
            position: absolute;
            right: 16px;
            bottom: 16px;
            z-index: 10;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: $primary;
            & svg {
                --progress: 0;
                position: absolute;
                left: 0;
                top: 0px;
                z-index: 10;
                width: 100%;
                height: 100%;
                stroke-width: 4px;
                stroke: $primary;
                fill: none;
                stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
                stroke-dasharray: 125.6;
                transform: rotate(-90deg);
            }
        }
        & .swiper-pagination-bullet {
            background: $primary;
            width: 18px;
            height: 18px;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            &-active {
                box-shadow: 0 -2px 10px rgba(252, 184, 12, 0.649);
            }
        }
    }
}

.pricing {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: $sky;
    &_left {
        & .card {
            border: 2px solid $primary;
            background: $white;
            border-radius: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 22px;
            box-shadow: 0 0.5rem 1rem rgba(255, 162, 1, 0.229);
            &:hover {
                transition: all 0.5s ease;
                border: 2px solid $blue;
                box-shadow: 0 0.5rem 1rem rgba(1, 145, 255, 0.229);
                & i {
                    background: $blue;
                }
                & .badge {
                    background: $blue;
                }
            }
            & i {
                color: $white;
                width: 32px;
                height: 32px;
                margin-bottom: 0;
                background: $primary;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
            }
            &_center {
                & h4 {
                    color: $dark;
                    font-weight: 600;
                    margin-bottom: 0;
                    font-family: $font;
                }
                & .badge {
                    background: $primary;
                    border: 0;
                    border-radius: 0;
                    padding: 4px 12px;
                    margin-bottom: 0;
                    font-weight: 400;
                    font-family: $font;
                    opacity: 0.8;
                }
            }
            &_right {
                & h3 {
                    font-size: 2rem;
                    color: $dark;
                    display: flex;
                    flex-direction: row;
                    & span {
                        margin-top: 14px;
                        font-size: 1.5rem;
                        opacity: 0.8;
                    }
                }
            }
            &_blue {
                box-shadow: 0 0.5rem 1rem rgba(1, 145, 255, 0.229);
                border: 2px solid $blue;
                & i {
                    background: $blue;
                }
                & .badge {
                    background: $blue;
                }
            }
        }
    }
    &_right {
        & .nav {
            justify-content: center;
            align-items: center;
            & li {
                margin-right: 12px;
                & .nav_link {
                    color: $dark;
                    font-size: 1rem;
                    font-weight: 500;
                    border-radius: 0;
                    width: 120px;
                    border: 0;
                    font-family: $font;
                    &.active {
                        background: $primary;
                        font-weight: 400;
                        color: $white;
                        box-shadow: 0 0.5rem 1rem rgba(255, 162, 1, 0.229);
                    }
                }
            }
        }
        & .tab-content {
            margin-top: 3rem;
            padding: 32px;
            background: $like-gold;
            & ul {
                list-style-type: none;
                padding-left: 0;
                & li {
                    font-weight: 400;
                    font-size: 1.125rem;
                    font-family: $font;
                    color: $dark;
                    margin-bottom: 1rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    & i {
                        font-size: 32px;
                        color: $dark;
                        opacity: 0.5;
                        &.fa-circle-check {
                            opacity: 1;
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

.team {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: #fff;
    &_card {
        height: 100%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        & .body {
            display: flex;
            flex-direction: column;
            position: relative;
            & img {
                width: 100%;
                height: auto;
                aspect-ratio: 3/4;
                object-fit: cover;
            }
            & .badge {
                opacity: 0.8;
                background: $primary;
                color: $dark;
                border: 0;
                border-radius: 0;
                position: absolute;
                top: 12px;
                right: 12px;
                padding: 4px 8px;
                font-size: 0.875rem;
                font-weight: 600;
                font-family: $font;
            }
            &:hover {
                transition: all 0.5s ease;
                & .team_card_social {
                    display: flex;
                }
            }
            & .team_card_social {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                flex-direction: row;
                padding: 12px;
                justify-content: space-between;
                align-items: center;
                background: rgba(255, 255, 255, 0.65);
                backdrop-filter: blur(11.5px);
                -webkit-backdrop-filter: blur(11.5px);
                & a {
                    font-size: 1.75rem;
                    color: #39a7ff;
                    text-decoration: none;
                    &:hover {
                        color: $army;
                    }
                }
            }
        }
        & .name {
            padding: 12px;
            & h5 {
                color: $army;
                font-weight: 500;
                font-family: $font;
                text-align: center;
                font-size: 1.25rem;
                margin-bottom: 0;
            }
        }
    }
}

.contact {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: $sky;
    & h5 {
        color: $dark;
        font-weight: 500;
        font-family: $font;
        font-size: 1.25rem;
    }
    & p {
        color: $dark;
        font-family: $font;
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    & a {
        color: $primary;
        text-decoration: none;
        font-weight: 500;
        font-family: $font;
        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }
    & ul {
        padding-left: 0;
        list-style-type: none;
        & li {
            color: $dark;
            font-size: 1rem;
            font-weight: 400;
            font-family: $font;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            & i {
                color: $primary;
                font-size: 1.35rem;
                margin-right: 8px;
            }
        }
    }
    & form {
        & input {
            border-radius: 0;
            font-family: $font;
            &:focus {
                border-color: #fad65f;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgba(253, 169, 13, 0.25);
            }
        }
        & label {
            color: $dark;
            font-family: $font;
            font-weight: 400;
            font-size: 1rem;
        }
        & textarea {
            border-radius: 0;
            font-family: $font;
            &:focus {
                border-color: #fad65f;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgba(253, 169, 13, 0.25);
            }
        }
        & .btn_primary {
            margin-top: 1.5rem;
            padding: 8px 38px;
        }
    }
}

footer {
    background: $dark;
    padding: 2rem;
    padding-bottom: 2rem;
    & p {
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
        color: $white;
        font-family: $font;
        margin-bottom: 0;
    }
    & a {
        color: $primary !important;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }
}
.btn_primary {
    border: 1px solid $primary;
    color: $white;
    border-radius: 0;
    background: $primary;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    font-family: $font;
    font-weight: 500;
    padding: 8px 32px;
    &:hover,
    &:focus {
        background: $primary;
        color: $dark;
        opacity: 0.8;
        box-shadow: 0 0.5rem 1rem rgba(255, 162, 1, 0.229);
    }
}
.the_caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    & .badge {
        border-radius: 0;
        background: #ffa44763;
        color: $dark;
        padding: 8px 12px;
        font-size: 1rem;
        font-weight: 400;
        font-family: $font;
    }
    & h2 {
        margin-top: 0.5rem;
        color: $army;
        font-weight: 500;
        font-family: $font;
        margin-bottom: 0;
        text-align: center;
    }
    & p {
        color: $army;
        font-family: $font;
        font-size: 1rem;
        font-weight: 400;
        max-width: 600px;
        text-align: center;
    }
}
.btn_outline_primary {
    border: 1px solid $primary;
    color: $dark;
    border-radius: 0;
    background: transparent;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    font-family: $font;
    font-weight: 500;
    padding: 8px 32px;
    &:hover,
    &:focus {
        color: $white;
        background: $primary;
        box-shadow: 0 0.5rem 1rem rgba(255, 162, 1, 0.229);
        -webkit-animation: jello 0.9s both;
        animation: jello 0.9s both;
    }
}
